{
  "extends": ["@antfu"],
  "parserOptions": {
    "ecmaFeatures": {
      // 非 react 项目关闭 jsx 语法校验,默认为 true
      "jsx": false
    }
  },
  "rules": {
    "no-alert": "error",
    // 不使用console
    "no-console": "warn",
    // 使用分号
    "@typescript-eslint/semi": ["error", "always"],
    // vue template标签不自动换行
    "vue/singleline-html-element-content-newline": [0],
    // 不使用eval函数
    "no-eval": [1, { "allowIndirect": true }],
    "vue/valid-template-root": [1]
  }
}
